In [1]:
print('saya sedang praktek algoritma')

saya sedang praktek algoritma

In [3]:
print('saya belajar algoritma menggunakan bahasa "python"')

saya belajar algoritma menggunakan bahasa "python"

In [1]:
print("I don't understand")

I don't understand

In [3]:
print("she says i'm beautiful")

she says i'm beautiful

In [2]:
mahasiswa17 = 42
uang_di_dompet = 100000
print(mahasiswa17)
print(uang_di_dompet)
print(mahasiswa17*uang_di_dompet)

42
100000
4200000

In [5]:
nama_depan ='Dewa ayu'
nama_tengah = ' '
nama_akhir= 'wijaya'
print(nama_depan + nama_tengah + nama_akhir)

Dewa ayu wijaya

In [6]:
nama = input("siapakah namamu? ")
kegiatan = input('apa kegiatanmu sekarang, '+ nama +"? ")
print("semangat "+ kegiatan +" nya yahh," + nama + "!!!!")

siapakah namamu? Wijaya
apa kegiatanmu sekarang, Wijaya? belajar algoritma
semangat belajar algoritma nya yahh,Wijaya!!!!

In [8]:
uang_di_dompet = input("berapa jumlah uang didompet kamu? ")
uang_di_bank = input("berapa jumlah uang kamu di bank? ")
print("total uang kamu adalah Rp " + uang_di_dompet+uang_di_bank)

berapa jumlah uang didompet kamu? 2000
berapa jumlah uang kamu di bank? 3000
total uang kamu adalah Rp 20003000

In [9]:
uang_di_dompet = input("jumlah uang di dompet: ")
uang_di_bank = input("jumlah uang di bank: ")
total_uang = int(uang_di_dompet)+ int(uang_di_bank)
print("total uang Rp " + str(total_uang))

jumlah uang di dompet: 5000
jumlah uang di bank: 200000
total uang Rp 205000

In [10]:
type(uang_di_dompet)

str

In [11]:
type(uang_di_bank)

str

In [12]:
type(total_uang)

int

In [13]:
bilangan_satu = input("bilangan pertama =")
bilangan_kedua = input ("bilangan kedua =")
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print ("jumlah kedua bilangan = " + str(jumlah))

bilangan pertama =3
bilangan kedua =4
jumlah kedua bilangan = 7.0

In [15]:
nama = "Mekdi "
pekerjaan = "pedagang sate "
tempat = "pinggir jalan"
print(nama + 'adalah ' + pekerjaan + 'di' + tempat)

Mekdi adalah pedagang sate dipinggir jalan

In [16]:
print(f"{nama} adalah sebagai {pekerjaan} di {tempat}.")

Mekdi  adalah sebagai pedagang sate  di pinggir jalan.

In [17]:
belajar = 'saya sedang belajar algoritma'

In [18]:
print(belajar[0:3])

say

In [19]:
print(belajar[5:-2])

sedang belajar algorit

In [20]:
print(belajar[2:-1:3])

ysa laaot

In [22]:
print(belajar[:-3])

saya sedang belajar algori

In [23]:
print(belajar[1:])

aya sedang belajar algoritma

In [25]:
print(belajar[:])

saya sedang belajar algoritma

In [26]:
judul = 'aku sebuah jam'

In [27]:
print(len(judul))

14

In [28]:
judul.upper()

'AKU SEBUAH JAM'

In [29]:
judul.lower()

'aku sebuah jam'

In [30]:
judul.find('jam')

11

In [31]:
judul.replace('jam', 'lampu')

'aku sebuah lampu'

In [32]:
print('jam'in judul)

True

In [33]:
print(4+7)
print(7-4)
print(3*5)
print(4/3)
print(4//3)
print(5%2)
print(3**3)
x=3
x+=1
print(x)
x-=2

11
3
15
1.3333333333333333
1
1
27
4

In [34]:
x =3>2
print(x)
x =2<3
print(x)
x=3 >=2
print(x)
x=2 <=3
print(x)
x=3 ==3
print(x)
x=3 !=4
print(x)

True
True
True
True
True
True

In [35]:
x=2>3
print(x)
x=2 >=3
print(x)
x=3 ==4
print(x)
x=3 !=3
print(x)

False
False
False
False

In [36]:
buah_nangka=13
buah_durian=15
print(buah_nangka >8 and buah_durian <16)

True

In [38]:
print(buah_nangka < 7 or buah_durian < 2)

False

In [37]:
print(not(buah_nangka>15 or buah_durian<10))

True

In [40]:
nilai=float(input("nilaimu yaitu "))
if nilai >=80:
    print("kamu dapat nilai A")
    print("wouwww keren, selamat! ")
if nilai <80 and nilai >=70:
    print('kamu dapat nilai B')
    print('tingkatin lagi ya!!')
if nilai >=60 and nilai <70:
    print("kamu dapat nilai C")
    print("jangan sedih, belajar lagi ya!")
if nilai >= 50 and nilai < 60:
    print("kamu dapat nilai D")
    print("ulang lagi yak")

nilaimu yaitu 89
kamu dapat nilai A
wouwww keren, selamat!

In [41]:
nilai=float(input("nilaimu yaitu"))
if nilai >=80:
    print("kamu dapat nilai A")
    print("wouwww keren dech")
elif nilai >=70:
    print('kamu dapat nilai B')
    print('tingkatin lagi ya!!')
elif nilai >=60:
    print("kamu dapat nilai C")
    print("jangan sedih, belajar lagi ya!")
elif nilai >=50:
    print("kamu dapat nilai D")
    print("ulang lagi ya")
else:
    print("kamu dapat nilai E")
    print("jumpa tahun depan")

nilaimu yaitu90
kamu dapat nilai A
wouwww keren dech

In [42]:
tinggi = float(input("berapakah tinggi kamu? "))
cm_atau_inci = input ("tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM' :
    tinggi = tinggi*0.393701
    print("tinggi anda adalah " + str(tinggi) + "inci")
elif cm_atau_inci.upper()== 'INCI':
    tinggi = tinggi/0.393701
    print(f"tinggi anda adalah {tinggi} cm")

berapakah tinggi kamu? 158
tingginya dalam cm atau inci? cm
tinggi anda adalah 62.204758000000005inci

In [44]:
a =0
while a<4:
    print("angka " + str (a)+ " masih dibawah 4")
    a+=1

angka 0 masih dibawah 4
angka 1 masih dibawah 4
angka 2 masih dibawah 4
angka 3 masih dibawah 4

In [45]:
a =0
while a < 6:
    print(a* '*')
    a+=1

*
**
***
****
*****